<div class="kanban__title">
    <h1>Kanban</h1>

    <div class="container">
        <ol class="kanban Backlog">
            <div class="kanban__title">
                <h2 contenteditable="true">Backlog</h2>
            </div>
            <li class="dd-item" data-id="5">
                <h3 class="title dd-handle" contenteditable="true">Créer les différentes colonnes</h3>
                <div class="text" contenteditable="true">
                    Colonne: Backlog, To-Do, In Progress, Done
                </div>
            </li>
            <li class="dd-item" data-id="5">
                <h3 class="title dd-handle" contenteditable="true">Mise en forme</h3>
                <div class="text" contenteditable="true">
                    Faire le css, pour rendre plus agréable à regarder la page.
                </div>
            </li>
            <li class="dd-item" data-id="5">
                <h3 class="title dd-handle" contenteditable="true">Drag and Drop</h3>
                <div class="text" contenteditable="true">
                    Faire en sorte que nous puissions déplacer les cartes de colonnes en colonnes.
                </div>
            </li>
        </ol>

        <ol class="kanban To-do">
            <div class="kanban__title">
                <h2 contenteditable="true">To-Do</h2>
            </div>
            <li class="dd-item" data-id="5">
                <h3 class="title dd-handle" contenteditable="true">Drag and Drop</h3>
                <div class="text" contenteditable="true">
                    Faire en sorte que nous puissions déplacer les cartes de colonnes en colonnes.
                </div>
            </li>
        </ol>

        <ol class="kanban In-Progress">
            <div class="kanban__title">
                <h2 contenteditable="true">In Progress</h2>
            </div>
            <li class="dd-item" data-id="5">
                <h3 class="title dd-handle" contenteditable="true">Mise en forme</h3>
                <div class="text" contenteditable="true">
                    Faire le css, pour rendre plus agréable à regarder la page.
                </div>
            </li>
        </ol>

        <ol class="kanban Done">
            <div class="kanban__title">
                <h2 contenteditable="true">Done</h2>
            </div>
            <li class="dd-item" data-id="5">
                <h3 class="title dd-handle" contenteditable="true">Créer les différentes colonnes</h3>
                <div class="text" contenteditable="true">
                    Colonne: Backlog, To-Do, In Progress, Done
                </div>
            </li>
        </ol>

        <ol class="kanban newColumn">
            <smart-kanban #kanban id="kanban" [addNewColumn]="addNewColumn" [columns]="columns"></smart-kanban>
        </ol>
        
    </div>
</div>

<router-outlet></router-outlet>
