<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="kanban__title">
    <h1>Kanban</h1>

    <div class="m-b-20">
       <span>
        <input type="text" #title />
            <button class="addButton" (click)="addColumn(title.value); title.value = ' '">
                <i class="fas fa-plus-circle"></i>
                Colonne
            </button>
        </span> 
    </div>

    <div class="">
        <ol class="kanban" *ngFor="let column of columns" [style.border-color]="randomColor()">
            <div class="kanban__title" >
                <h2 contenteditable="true">
                    {{column.title}} 
                    <i class="fas fa-trash size" (click)="deleteColumn(column.id)"></i>
                </h2>
            </div>
            <div class="example-container">
                <div cdkDropList
                #columnsList="cdkDropList"
                [cdkDropListData]="columns"
                [cdkDropListConnectedTo]="[columnsList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let task of column.tasks" cdkDrag>
                        <li class="dd-item" data-id="5">
                            <h3 class="title dd-handle" contenteditable="true">{{task.titleTask}}</h3>
                            <!-- <div class="text" contenteditable="true"> -->
                                <!-- {{task.name}} -->
                            <!-- </div> -->
                            <i class="fas fa-trash" (click)="deleteTask(column.id, task.id)"></i>
                        </li>
                    </div>
                </div>   
            </div>
            <div class="actions">
                <span>
                    <input type="text" #titleTask />
                        <button class="addButtonTask" (click)="addTask(column.id, $event)">
                            <i class="fas fa-plus-circle"></i>
                            Tâche
                        </button>
                </span> 
            </div>
        </ol>        
    </div>
</div>

<router-outlet></router-outlet>
